/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use "vuetify/settings" with (
    $color-pack: false,
    $rounded: (
        "lger": 16px
    ),
    $tooltip-background-color: rgb(var(--v-theme-inverse-surface)),
    $tooltip-text-color: rgb(var(--v-theme-on-inverse-surface))
);

$icon-with-number-width: 70px;
$avatar-sizes: (
    "x-small": 1em,
    "small": 1.25em,
    "default": 1.5em,
    "large": 1.75em,
    "x-large": 2em,
    "xx-large": 2.5em
);
$timeline-offset: 80px;
